@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arcade Regular';
  src: url('./fonts/ARCADE.TTF') format('truetype'); /* Ensure correct path here */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Arcade Regular', sans-serif; /* Use Arcade Regular font */
  background-color: #000000; /* Set the background color to dark */
  color: #00FF00; /* Set the default text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  border-bottom: 4px solid #FFFF00; /* Retro yellow border for header */
}

button {
  background-color: #00FF00; /* Retro green background for buttons */
  color: #000000; /* Retro black text color for buttons */
  border: 2px solid #FFFF00; /* Retro yellow border for buttons */
}

button:hover {
  background-color: #FFFF00; /* Retro yellow background on hover */
  color: #000000; /* Retro black text color on hover */
}
