@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arcade Regular';
  src: url('./fonts/ARCADE.TTF') format('truetype'); /* Ensure correct path here */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Arcade Regular', sans-serif; /* Use Arcade Regular font */
  background-color: #000000; /* Set the background color to dark */
  color: #00FF00; /* Set the default text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  border-bottom: 4px solid #FFFF00; /* Retro yellow border for header */
}

button {
  background-color: #00FF00; /* Retro green background for buttons */
  color: #000000; /* Retro black text color for buttons */
  border: 2px solid #FFFF00; /* Retro yellow border for buttons */
}

button:hover {
  background-color: #FFFF00; /* Retro yellow background on hover */
  color: #000000; /* Retro black text color on hover */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.hover\:animate-bounce:hover {
  animation: bounce 1s;
}

/* Add focus styles for navigable elements */
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 4px #FFFF00; /* Apply a yellow glow */
  border: 2px solid #FFFF00; /* Yellow border */
  transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition */
}

/* For accessibility, make sure the focused elements are more visible */
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #FFFF00;
  border: 2px solid #FFFF00;
}
